body{
  background-color: #E8E8E8;
  font-family: 'Quicksand', sans-serif;
}

.btn-light {
  color: #212529;
  background-color: transparent;
  border-color: #fff;
}
header{
  position: relative;
  box-shadow: 2px 8px 25px 0px rgba(0,0,0,0.11);
}
.toggle-btn{
  position: absolute;
  background-color: #fff;
  border-radius: 40px;
}
header .toggle-btn{
  top: 110%;
  left: 49%;
}

footer{
  position: absolute;
  bottom: 40px;
  left: 30%;
  width: 40%;
}
footer .btn{
  border-radius: 40px;
}
footer .toggle-btn{
  bottom: 110%;
  left: 240px;
}



.editor{
  border-radius: 40px;
  box-shadow: 2px 8px 25px 0px rgba(0,0,0,0.11);
}
.custom-range{
  width: auto;
}

#tooltipCanvas{
  position: absolute;
  top: -70px;
  right: -20px;
}